@import './../../../../assets/scss/dependencies';
.products-catagories-area {
    @include flex(0 0 calc(100% - 320px));
    width: calc(100% - 320px);
    max-width: calc(100% - 320px);
    @media #{$breakpoint-md} {
        @include flex(0 0 calc(100% - 280px));
        width: calc(100% - 280px);
        max-width: calc(100% - 280px);
    }
    @media #{$breakpoint-xs} {
        @include flex(0 0 100%);
        width: 100%;
        max-width: 100%;
    }
}

.single-products-catagory {
    position: relative;
    z-index: 1;
    width: 33.33333%;
    top: 0;
    @media #{$breakpoint-lg} {
        width: 50%;
    }
    @media #{$breakpoint-md} {
        width: 100%;
    }
    @media #{$breakpoint-xs} {
        width: 100%;
    }
    @media #{$breakpoint-sm} {
        width: 50%;
    }
    a {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 10;
        &::after {
            @include trans-duration(250ms);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            content: '';
            background-color: rgba(60, 60, 60, 0.7);
            z-index: 1;
            opacity: 0;
            visibility: visible;
        }
        img {
            width: 100%;
        }
    }
    .hover-content {
        position: absolute;
        top: 40px;
        left: 40px;
        z-index: 10;
        @media #{$breakpoint-xs} {
            top: 30px;
            left: 30px;
        }
        .line {
            width: 80px;
            height: 3px;
            background-color: $bg-default;
            display: block;
            margin-bottom: 15px;
        }
        p {
            font-size: 16px;
            color: $text-color;
            line-height: 1;
            margin-bottom: 5px;
            @include trans-duration(250ms);
        }
        h4 {
            margin-bottom: 0;
            @include trans-duration(250ms);
        }
    }
    &:hover,
    &:focus {
        a::after {
            opacity: 1;
            visibility: visible;
        }
        .hover-content {
            p,
            h4 {
                color: #fff;
            }
        }
    }
}